.tile {
    margin: 20px;
    width: 300px;
    height: 200px;
    cursor: pointer;
    background: no-repeat center;
    -webkit-background-size: contain !important;
    -moz-background-size: contain !important;
    -o-background-size: contain !important;
    background-size: contain !important;
    box-shadow: grey 0 0 10px 0;
    border-radius: 2px;
}