@media(max-width: 1280px) {
    .App .home, .App .home {
        width: 880px;
    }

    .home .tile, .home .image-tile {
        width: 100%;
    }

    .home .image-tile {
        height: auto;
    }

    .home .image-tile .image-tile-header img {
        width: 100%;
        height: auto;
    }

    .home .image-tile .image-tile-footer {
        position: static;
    }
}

@media(max-width: 900px) {
    .App .home, .App .home {
        width: 100%;
    }

    .home .tile, .home .image-tile {
        width: 100%;
    }

    .home .toolbox {
        margin-left: 20px;
    }

    .App .add-image-page form {
        width: 100%;
        flex: auto;
    }

    .App .add-image-page .map-container {
        width: 100%;
        flex: auto;
    }
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

/*Overriding bootstrap*/
.modal-header button {
    outline: none
}

.form-control {
    font-size: 18px;
}

.form-control:focus {
    box-shadow: none;
    border: 2px solid #D62718;
}

input.form-control {
    border: 0 solid grey;
    border-bottom-width: 1px;
    border-radius: 0;
    box-shadow: none;
    padding-left: 0;
}

input.form-control:focus {
    border: 0 solid #D62718;
    border-bottom-width: 2px;
    box-shadow: none;
}

.has-error .form-control {
    border: solid #D62718;
    border-bottom-width: 2px;
}

.has-error .help-block {
    color: #D62718
}