.floating-button {
  z-index: 1000;
  position: fixed;
  right: 70px;
  bottom: 70px;
  width: 70px;
  height: 70px;
  background-color: #D62718;
  -webkit-box-shadow: 0 0 10px 1px #D62718;
  box-shadow: 0 0 10px 1px #D62718;
  border: solid white;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
}

.floating-button svg {
  width: 48px;
  height: 48px;
  margin-top: 7px;
}

.floating-description {
  position: fixed;
  padding: 10px 30px 10px 10px;
  right: 120px;
  bottom: 81px;
  background-color: rgb(227, 229, 233);
  font-size: 20px;
  border-radius: 8px;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s ease-in-out;
}