.icon-button {
    margin: 0 5px 0 5px;
    height: 44px;
    background-color: transparent;
    border: solid 1px;
    border-radius: 10px;
    outline: none !important;
    text-align: center;
    -webkit-transition: background-color 500ms cubic-bezier(0.1, 0.7, 0.7, 0.1);
    -ms-transition: background-color 500ms cubic-bezier(0.1, 0.7, 0.7, 0.1);
    transition: background-color 500ms cubic-bezier(0.1, 0.7, 0.7, 0.1);
    cursor: pointer;
}
